name: Build and check python
on:
  push:
jobs:
  checks:
    runs-on: ubuntu-24.04
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install tools
      run: sudo apt-get install -y poppler-utils
    - name: Linter
      run: ./bin/build.sh black-check flake8 mypy
    - name: Tests
      run: ./bin/build.sh cover
    - uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        files: ./coverage.xml
        flags: unittests # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: 'python'
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
  package:
    runs-on: ubuntu-24.04
    needs: [checks]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Package
      run: ./bin/build.sh package
    - name: Publish
      if: startsWith(github.ref, 'refs/tags/')
      env:
        PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
      run: ./bin/build.sh publish
